<script lang="ts">
import { defineComponent, ref, toRefs, computed } from 'vue'
import { NDrawer, NModal, NCard, NDrawerContent, NButton, NIcon } from 'naive-ui'
import type { DrawerPlacement } from 'naive-ui'
import {Close} from '@vicons/ionicons5'

const isMobileMode = (scrResol: number): boolean => {
  return scrResol <= 375
}

export default defineComponent({
  components: { NDrawer, NModal, NCard, NDrawerContent, NButton, NIcon,Close },
  emits: {
    'close': null
  },
  props: {
    show: Boolean,
    panelName: String
  },
  setup(props, { emit }) {
    const scrResolIsMobile = ref<boolean>(isMobileMode(window.innerWidth))
    const { show } = toRefs(props)
    const placement = ref<DrawerPlacement>('bottom')

    const closePanel = (): void => {
      emit('close')
    }

    const isModalOpen = computed({
      get() {
        return show.value && !scrResolIsMobile.value ? true : false
      },
      set() {
        closePanel()
      }
    })

    const isDrawerOpen = computed({
      get() {
        return show.value && scrResolIsMobile.value ? true : false
      },
      set() {
        closePanel()
      }
    })

    return {
      scrResolIsMobile,
      isPanelActiive: show,
      closePanel,
      isModalOpen,
      isDrawerOpen,
      placement
    }
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.scrResolIsMobile = isMobileMode(innerWidth)

      window.removeEventListener('resize', () => {})
    })
  }
})
</script>

<template>
  <n-modal v-model:show="isModalOpen" class="modal">
    <n-card :title="panelName" class="modal-card">
      <template #header-extra>
        <slot name="content-header-extra">
          <n-button text @click="closePanel">
            <n-icon size="25px">
              <Close/>
            </n-icon>
          </n-button>
        </slot>
      </template>

      <slot name="content"></slot>
    </n-card>
  </n-modal>

  <n-drawer v-model:show="isDrawerOpen" :placement="placement">
    <n-drawer-content :title="panelName">
      <slot name="content"></slot>
    </n-drawer-content>
  </n-drawer>
</template>

<style scoped lang="scss">
@import 'modrawer-style.scss';
</style>
