.list-of-task {
  @apply shadow;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 70%;
  height: fit-content;
  min-height: 75px;
  background-color: #fffaf0;
  border: 1px solid #fffaf0;
  border-radius: 3px;
  padding: 20px;
  justify-content: center;
  align-items: center;

  .empty-tasks-list-wrapper {
    display: flex;
    align-self: center;
    align-items: center;

    .empty-tasks-list-lable {
      display: flex;
      margin: 0;
      color: gray;
      font-size: 17px;
    }
  }

  .card-task {
    display: flex;
    width: 100%;
  }

  @screen sm {
    width: 450px;
  }
}
