<script lang="ts">
import TaskCurrent from '@/components/tasks/current/TaskCurrent.vue'
import { defineComponent } from 'vue'
import { computed } from 'vue'
import { taskServiseMemory } from '@/boot'

export default defineComponent({
  components: {
    TaskCurrent
  },

  setup() {
    const taskNamesList = computed(() => {
      const tasksObjects = taskServiseMemory.getAllTasks()

      const listOfTaskTables = []

      for (let tasks of tasksObjects) {
        listOfTaskTables.push(tasks)
      }
      console.log('listOfTaskTables - ', listOfTaskTables)

      return listOfTaskTables
    })

    return {
      taskNamesList
    }
  }
})
</script>

<template>
  <div class="list-of-task">
    <template v-if="!taskNamesList.length">
      <div class="empty-tasks-list-wrapper">
        <p class="empty-tasks-list-lable">все путем 👨‍💻</p>
      </div>
    </template>

    <div class="card-task" v-for="task in taskNamesList" :key="task.taskID">
      <TaskCurrent :taskName="task.taskName" :id="task.taskID" />
    </div>
  </div>
</template>

<style scoped lang="scss">
@import 'list-style';
</style>
