.current-task-wrapper {
  display: flex;
  height: fit-content;
  padding: 5px;
  width: 95%;
  background-color: white;
  border: 1px solid #0e7a0d;
  border-radius: 3px;
  gap: 5px;
  align-items: center;
  cursor: pointer;

  .done-button {
    height: fit-content;
    width: fit-content;
    color: #2e9c55;
    transition: all 0.3s linear;
    align-self: baseline;
    margin-top: 2px;

    &:hover {
      transition: all 0.3s linear;
      color: black;
    }
  }

  .task-name-wrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    max-height: 100%;

    .task-name {
      word-wrap: break-word;
      height: fit-content;
      margin: 0;
      color: gray;
      max-width: 100%;
    }
  }
}
