<script lang="ts">
import { CircleRound } from '@vicons/material'
import { defineComponent } from 'vue'
import { ref, toRef } from 'vue'
import { taskServiseMemory } from '@/boot'
import AdaptiveEditForm from '@/components/tasks/adaptive-edit-form/AdaptiveEditForm.vue'

export default defineComponent({
  components: {
    CircleRound,
    AdaptiveEditForm
  },
  props: {
    id: String,
    taskName: String
  },

  setup(props) {
    const taskId = props.id
    const taskTable = toRef(props, 'taskName')

    const isEditModeActive = ref<boolean>(false)

    const changeStatusEditMode = (): void => {
      const valueOfEditMode = isEditModeActive.value
      isEditModeActive.value = !valueOfEditMode
    }

    const makeTaskDone = (id: string | undefined): void => {
      if (typeof id === 'string') {
        taskServiseMemory.dropTaskByid(id)
      }
    }

    return {
      isEditModeActive,
      changeStatusEditMode,
      taskId,
      taskTable,
      makeTaskDone
    }
  }
})
</script>

<template>
  <div class="current-task-wrapper" @click="changeStatusEditMode">
    <n-button text class="done-button" @click="makeTaskDone(taskId)">
      <n-icon size="20px">
        <CircleRound />
      </n-icon>
    </n-button>

    <div class="task-name-wrapper">
      <p class="task-name">{{ taskTable }}</p>
    </div>

    <AdaptiveEditForm v-model:show="isEditModeActive" :id="taskId" :taskName="taskTable" />
  </div>
</template>

<style scoped lang="scss">
@import 'current-style';
</style>
