<script setup lang="ts">
import TaskInput from '@/components/tasks/input/TaskInput.vue';
import TaskList from '@/components/tasks/list/TaskList.vue'


</script>

<template>

    
    <div class="input-t">
        <TaskInput/>
        <TaskList/>

    </div>
    
    

</template>



<style scoped lang="scss">
@import 'homeview-style';
</style>