.page{

    display: flex;
    flex-direction: column;
    height: 700px;
    max-height: 700px;
    border: 1px solid black;
    justify-content: space-between;



    .up{
        width: 100%;
        height: 70%;
        
        border-radius: 3px;
        display: flex;
        


    }

    .down-panel{


        display: flex;
        width: 100%;
        height: 30%;
        background-color: gray;
    }


}