<script scoped lang="ts">

import { defineComponent, ref } from 'vue';
import type { DrawerPlacement } from 'naive-ui'
import { NButton, NDrawer, NDrawerContent } from 'naive-ui';

export default defineComponent({
    components:{
        NButton,
        NDrawer,
        NDrawerContent

    }, 

    setup() {


        
        return {

        }
    },
})





</script>


<template>

    <div class="page">

        <div class="up">
            123
        </div>

        <div class="down-panel">

        </div>
    </div>


</template>


<style lang="scss" scoped>
    
@import 'project-style';
</style>