.field-and-add {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: baseline;
  width: 100%;
  align-items: center;
  height: 120px;
  flex-direction: column;

  .input-line {
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 80%;

    .input-wrapper {
      display: flex;
      align-items: center;
      border: 1px solid #0e7a0d;
      border-radius: 3px;
      width: fit-content;
      height: fit-content;
      padding: 5px;
      width: 400px;

      .input-task {
        width: 100%;
        height: fit-content;
        outline: none;
        border: 0px;
        color: gray;
      }

      .button-recover {
        color: #2e9c55;
        transition: all 0.3s linear;

        &:hover {
          transition: all 0.3s linear;
          color: black;
        }
      }
    }

    .add-wrapper {
      display: flex;
      justify-content: center;
      height: fit-content;

      .add-button {
        display: flex;
        height: 33px;
        color: #2e9c55;
        transition: all 0.3s linear;
      }

      .add-button:hover {
        transition: all 0.3s linear;
        color: black;
      }
    }

    @screen sm {
      width: 490px;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.empty-task-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  animation: shake 0.5s ease-in-out;
  animation-iteration-count: 2;
  width: 80%;

  .empty-task-label {
    font-size: 15px;
    color: gray;
  }

  @screen sm {
    width: 100%;
  }
}
