<script lang="ts">
import { ClipboardTask24Regular } from '@vicons/fluent'
import { Backspace } from '@vicons/ionicons5'
import { AddBoxFilled } from '@vicons/material'
import { defineComponent } from 'vue'
import { reverseClearAnimation } from '@/components/tasks/utills/style'
import { ref, computed } from 'vue'
import { taskServiseMemory } from '@/boot'

export default defineComponent({
  components: {
    Backspace,
    ClipboardTask24Regular,
    AddBoxFilled
  },

  setup() {
    const inputTaskField = ref<string>('')
    const isEnteredTaskEmpty = ref<boolean>(false)
    const scrResol = ref<number>(window.innerWidth)

    const placeholderByWidth = computed(() => {
      if (scrResol.value <= 400) {
        return ''
      }

      return 'твоя уникальная задача'
    })

    const emptyInputField = (event: Event): void => {
      if (event) {
        reverseClearAnimation(inputTaskField, 20)
      }
    }

    const addTask = (): void => {
      const nameOfNewTask: string = inputTaskField.value
      const isTaskAddedToMemory: boolean = taskServiseMemory.addNewTask(nameOfNewTask)

      if (isTaskAddedToMemory) {
        isEnteredTaskEmpty.value = false
        inputTaskField.value = ''
      } else {
        isEnteredTaskEmpty.value = true
      }
    }

    return {
      scrResol,
      inputTaskField,
      emptyInputField,
      addTask,
      isEnteredTaskEmpty,
      placeholderByWidth
    }
  },
  mounted() {
    window.addEventListener('resize', () => {
      this.scrResol = window.innerWidth
    })
  }
})
</script>

<template>
  <div class="field-and-add">
    <div class="input-line">
      <div class="input-wrapper">
        <n-icon color="green" class="icon-task" size="19px">
          <ClipboardTask24Regular />
        </n-icon>

        <input
          type="text"
          class="input-task"
          :placeholder="placeholderByWidth"
          v-model="inputTaskField"
          @keyup.enter="addTask"
        />

        <n-button text class="button-recover" @click="emptyInputField">
          <n-icon size="21px">
            <Backspace />
          </n-icon>
        </n-button>
      </div>

      <div class="add-wrapper">
        <n-button text class="add-button" @click="addTask">
          <template #icon>
            <n-icon size="30px">
              <AddBoxFilled />
            </n-icon>
          </template>
        </n-button>
      </div>
    </div>

    <template v-if="isEnteredTaskEmpty">
      <div class="empty-task-wrapper">
        <p class="empty-task-label">Твоя уникальная задача не может быть пустой 🥺</p>
      </div>
    </template>
  </div>
</template>

<style scoped lang="scss">
@import 'input-style';
</style>
