.edit-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  width: 100%;
  height: 100%;

  .left-part-edit-panel {
    display: flex;
    flex-direction: column;

    .task-name-wrapper {
      min-height: 50px;
      max-height: fit-content;
      width: 100%;
      border: 1px solid #0e7a0d;
      border-radius: 2px;
      display: flex;
      align-items: center;

      .task-name {
        padding: 5px;
        font-size: 18px;
        margin: 0;
      }
    }

    .edit-task-wrapper {
      height: 150px;
      max-height: fit-content;
      width: 100%;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .textarea {
        height: 70%;
        font-size: 18px;
      }

      .edit-buttons {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        .change-button {
          background-color: #2e9c55;
        }
      }

      @screen sm {
        height: 300px;
        width: 100%;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .textarea {
          height: 200px;
          font-size: 18px;
        }

        .edit-buttons {
          width: 100%;
          display: flex;
          gap: 10px;
          justify-content: flex-end;
        }
      }
    }
  }
}
