<script lang="ts">
import { defineComponent } from 'vue'
import { ref, toRef } from 'vue'
import { NButton, NInput } from 'naive-ui'
import { taskParamsEditor } from '@/boot'

export default defineComponent({
  components: {
    NButton,
    NInput
  },
  props: {
    id: String,
    taskName: String
  },
  setup(props) {
    const taskTable = toRef(props, 'taskName')
    const taskId: string | undefined = props.id

    const isEditTaskMode = ref<boolean>(false)
    const inputField = ref<string | undefined>(taskTable.value)

    const changeTableOfTask = (id: string | undefined): void => {
      if (inputField.value && id !== undefined) {
        const newTable = inputField.value
        taskParamsEditor.changeTableOfTask(id, newTable)
        inputField.value = newTable
        isEditTaskMode.value = false
      }
    }

    const cancelChangeOfTask = (): void => {
      inputField.value = taskTable.value
      isEditTaskMode.value = false
      console.log('sEditTaskMode.value,', isEditTaskMode.value)
    }

    const openEditTaskMode = (): void => {
      isEditTaskMode.value = true
      console.log('sEditTaskMode.value,', isEditTaskMode.value)
    }

    return {
      close,
      taskTable,
      taskId,
      isEditTaskMode,
      inputField,
      changeTableOfTask,
      cancelChangeOfTask,
      openEditTaskMode
    }
  }
})
</script>

<template>
  <div class="edit-panel">
    <div class="left-part-edit-panel" @click="openEditTaskMode">
      <!--  -->
      <template v-if="!isEditTaskMode">
        <div class="task-name-wrapper">
          <p class="task-name">{{ inputField }}</p>
        </div>
      </template>

      <template v-else>
        <div class="edit-task-wrapper">
          <n-input
            v-model:value="inputField"
            placeholder=""
            type="textarea"
            :autosize="{
              minRows: 3
            }"
            class="textarea"
          />

          <div class="edit-buttons">
            <n-button type="default" class="cancel-button" @click.stop="cancelChangeOfTask">
              Отменить
            </n-button>

            <n-button type="success" class="change-button" @click.stop="changeTableOfTask(taskId)">
              Изменить
            </n-button>
          </div>
        </div>
      </template>
    </div>
    <div class="right-part-edit-panel"></div>
  </div>
</template>

<style scoped lang="scss">
@import 'edit-style';
</style>
