<script lang="ts">

import {RouterView } from 'vue-router'
import HomeView from './views/HomeView.vue';
import { defineComponent } from 'vue';
import {NConfigProvider} from 'naive-ui';

export default defineComponent({
  components:{HomeView,NConfigProvider},
  setup() {
    return {
      RouterView,
      HomeView
    };
  }
});



</script>

<template>

  <NConfigProvider/>
  <HomeView/>
  <RouterView />

</template>

