<script lang="ts">
import AdaptiveModrawePanel from '@/components/adaptive-modrawer-panel/AdaptiveModrawePanel.vue'
import TaskEditMode from '@/components/tasks/edit/TaskEditMode.vue'
import { defineComponent, toRefs } from 'vue'

export default defineComponent({
  components: { AdaptiveModrawePanel, TaskEditMode },
  emits: {
    'update:show': null
  },

  props: {
    show: Boolean,
    id:String,
    taskName: String,

  },

  setup(props, { emit }) {
    const panelName = 'Редактор задачи'
    const { show } = toRefs(props)

    const close = (): void => {
      emit('update:show')
    }

    return {
      isModeActive: show,
      panelName,
      close
    }
  }
})
</script>

<template>
  <AdaptiveModrawePanel :show="isModeActive" :panelName="panelName" @close="close">
    <template #content>
        <TaskEditMode  :id="id" :taskName="taskName" />
    </template>
  </AdaptiveModrawePanel>
</template>

<style lang="scss" scoped>
@import 'edit-form.scss';
</style>
